<html>
<head>
	<title>Discussion Board</title>
</head>
<body>
	<div class="row-fluid" id="enterNameForm">
    <div class="hero-unit">
	    <h2>Welcome to LearnTogether Discussion Board!</h2>
	    <p>Please enter your nickname:</p>
	      	  
		<input type="text" class="nickname" placeholder="Your nickname..."> 
		<div class="msgHolder"></div>			  
		<button id="goBtn" class="btn btn-primary">Go</button>
			   
	</div>
</div>

</body>
</html>


