

.viewall {
	display: none;

}
#deptalert {
	display: none;

}


#create-button {
	margin-left: 200px;

}

.invalid-field {
    border: 1px solid #FF0000;
}

.form-rating {
    margin-bottom: 0;
}

.glyphicon:hover {
	cursor: pointer;
}

.glyphicon-thumbs-up:hover, .glyphicon-thumbs-down:hover {
	background-color: #AA3;
}

.btn-success:hover {
	cursor: copy;
}

.no-comments-yet {
	color: grey;
	font-size: 16px;
}

.comment-section img {
    margin: 5px;
}

.info-comment {
    margin-bottom: 10px;
}

#user-name {
    color: blue;
    font-size: 18px;
    margin-bottom: 7px;
}

#comment-title {
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
}

#comment-comment {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

